<!DOCTYPE html>
<html lang="pt-BR">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sistema Comércio - Gestão de Vendas</title>
		{% include "css.html" %}
		<link rel="stylesheet" href="/css/sale.css">
	</head>

	<body>

		<div class="modal fade" id="pesquisaProdutoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Pesquisa produto</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table></table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
							Cancelar (F8)
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Sidebar Esquerda -->
		<aside class="sidebar">
			<div class="logo-section">
				<h1 class="logo">Obrigado</h1>
				<p class="slogan">Sua preferência<br>é a nossa maior<br>motivação.</p>
			</div>

			<div class="sidebar-image">
				<img src="/images/baleia.png" alt="Atendente">
			</div>



</html>
