services:

  nginx:

    image: nginx:1.29.4-alpine3.23-perl

    container_name: app_nginx

    ports:
    - "8080:80"

    volumes:
    - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

    depends_on:
    - php

    networks:
    - app_network

  php:

    build:
      context: .

      dockerfile: docker/php/Dockerfile

    container_name: app_php

    environment:

      TZ: America/Sao_Paulo

    expose:
      - "9000"

    networks:
      - app_network

  postgres:

    image: postgres:18.1-alpine3.23

    container_name: app_postgres

    environment:

      POSTGRES_DB: ${DB_NAME}

      POSTGRES_USER: ${DB_USER}

      POSTGRES_PASSWORD: ${DB_PASSWORD}

      TZ: America/Sao_Paulo

    volumes:
      - pgdata:/var/lib/postgresql/data

      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

    networks:
      - app_network

volumes:

  pgdata:

networks:

  app_network:
    driver: bridge
