services:
  frontend:
    image: nginx:1.29.4-alpine3.23-perl
    ports:
      - "81:81"
    networks:
      - front-tier
      - back-tier
configs:
  httpd-config:
    external: true

secrets:
  server-certificate:
    external: true

networks:
  # The presence of these objects is sufficient to define them
  front-tier: {}
  back-tier: {}